<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <meta name="keywords"
        content="developer, designer, frontend, backend, design, javascript, python, react, node, mongodb, express, js, django, flask, Ireland">
    <meta name="description" content="Portfolio of Sean Murphy, Irish Full Stack Developer based in Meath, Ireland.">
    <meta name="author" content="Sean Murphy: seanmurphy.dev">
    <meta name="theme-color" content="#111">
    <!-- opengraph metadata -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:url" content="https://seanmurphy.dev/" />
    <meta property="og:site_name" content="Sean Murphy" />
    <meta property="og:image" content="https://seanmurphy.dev/images/portfolio.png" />
    <meta property="og:description"
        content="Portfolio of Sean Murphy, Irish Full Stack Developer based in Meath, Ireland." />
    <meta property="og:title" content="Sean Murphy - Full Stack Web Developer Portfolio" />
    <meta property="og:image:alt" content="Portfolio of Full Stack Developer" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="581" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BW6VWJ19Z3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BW6VWJ19Z3');
    </script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/info.css" />
    <title><%= title %></title>
</head>

<body>
    <%- include ( '../partials/loader' )  %>
    <div id="background-noise"></div>