<nav id="navigation-info">
    <ul>
        <li>
            <span id="back">
                <span id="back-arrow">
                    <svg viewBox="0 0 17 14"><path d="M17,6.5v1C17,7.8,16.8,8,16.5,8H3.3l4.4,4.4c0.1,0.1,0.1,0.2,0.1,0.4s-0.1,0.3-0.1,0.4 l-0.7,0.7C7,13.9,6.8,14,6.7,14s-0.3-0.1-0.4-0.1L0.2,7.7C0.1,7.6,0,7.4,0,7.2V6.8c0-0.2,0.1-0.4,0.2-0.5l6.1-6.1 C6.5,0.1,6.6,0,6.7,0S7,0.1,7.1,0.1l0.7,0.7C7.9,1,7.9,1.1,7.9,1.2c0,0.1-0.1,0.3-0.1,0.3L3.3,6h13.2C16.8,6,17,6.2,17,6.5z"></path></svg>
                </span>
                Back
            </span>
        </li>
        <li id="email">
            <a href="mailto:hello@seanmurphy.dev">
                hello@seanmurphy.dev
            </a>
        </li>
    </ul>
</nav>