<nav id="navigation" class="cl-effect">
    <ul>
        <li>
            <a href="/">
                <span data-hover="Sean Murphy">Sean Murphy</span>
            </a>
        </li>
        <li>
            <a id="show-info" href="/info">
                <span data-hover="Info">Info</span>
            </a>
        </li>
    </ul>
</nav>