<%- include ( '../partials/navigation-info.ejs' )  %>
<div id="info">
    <div id="portrait" data-name="sean-murphy.jpg"></div>
    <div id="info-content">
        <div id="introduction">
            <h2 class="title">Hey there<span class="darken">,</span> I'm Seán<span class="darken">.</span></h2>
            <div class="paragraph">
                <p>
                    <p>I'm currently work as a Full Stack Developer and Tutor with Code Institute.</p>

                    <p>I’m a creative, passionate and ambitious software developer equipped with diverse and promising skills, I love exciting and challenging roles in software development that offer the opportunity to develop professionally and personally.</p> 
                    <p>Specialising in full stack web and mobile development, I ask the why questions and love to problem solve with a curiosity for pure node.js, design patterns, data structures and algorithms and more recently taking an interest in android development with kotlin, web 3.0 and crypto contracts with web payments.</p>
                </p>
            </div>
            <div id="contact">
                <ul class="block" data-fx="1">
                    <li class="desktop">
                        <a href="https://github.com/nazarja" target="_blank" class="link-effect">
                            <span>g</span><span>i</span><span>t</span><span>h</span><span>u</span><span>b</span>
                        </a>
                    </li>
                    <li class="mobile"><a href="https://github.com/nazarja" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li class="darken desktop">/</li>
                    <li class="desktop">
                        <a href="https://www.linkedin.com/in/sean-murphy-dev" target="_blank" class="link-effect">
                            <span>l</span><span>i</span><span>n</span><span>k</span><span>e</span><span>d</span><span>i</span><span>n</span>
                        </a>
                    </li>
                    <li class="mobile"><a href="https://www.linkedin.com/in/sean-murphy-dev" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="darken desktop">/</li>
                    <li class="desktop">
                        <a href="mailto:hello@seanmurphy.dev" target="_blank" class="link-effect">
                            <span>e</span><span>m</span><span>a</span><span>i</span><span>l</span>
                        </a>
                    </li>
                    <li class="mobile"><a href="mailto:hello@seanmurphy.dev" target="_blank"><i class="far fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
        <div id="coding" class="info-animate-0">
            <h2>Code <i class="darken">&</i> &nbsp;Design</h2>
            <h4>Languages</h4>
            <ul>
                <li>Node</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Python</li>
                <li>Java</li>
                <li>SASS</li>
                <li>CSS</li>
                <li>HTML</li>
                <li>GIT</li>
            </ul>
            <h4>Frameworks / Libraries</h4>
            <ul class="info-trigger-1">
                <li>React</li>
                <li>Redux</li>
                <li>Express</li>
                <li>Django</li>
                <li>Django Rest Framework</li>
                <li>Flask</li>
            </ul>
            <h4>Databases</h4>
            <ul>
                <li>Redis</li>
                <li>MongoDB</li>
                <li>Firebase</li>
                <li>Django ORM</li>
                <li>Postgres</li>
                <li>SQL</li>
            </ul>
            <h4>Design</h4>
            <ul>
                <li>Adobe Photoshop</li>
                <li>Abdobe Lightroom</li>
            </ul>
        </div>
        <div id="credits" class="info-animate-1">
            <h2>Education <i class="darken">&</i> &nbsp;Achievements</h2>
            <table>
                <tbody>
                    <tr>
                        <td>Code Institute</td>
                        <td><span class="colorise">First Class Honors</span>, Full Stack Diploma in Software Development
                        </td>
                    </tr>
                    <tr>
                        <td>Udacity</td>
                        <td><span class="colorise">Nanodegree Certificate</span>, Mobile Web Specialist Nanodegree</td>
                    </tr>
                    <tr>
                        <td>University of Helsinki</td>
                        <td><span class="colorise">Grade 5</span>, MERN, Modern React, Redux, Express, MongoDB, GraphQL
                        </td>
                    </tr>
                    <tr>
                        <td>Oracle</td>
                        <td><span class="colorise">Oracle Certified Associate</span>, Java, Oracle Certified Foundations Associate</td>
                    </tr>
                    <tr style="padding: 10px 0; display: block;"></tr>
                    <tr>
                        <td>Udemy</td>
                        <td><span class="colorise">Certificate</span>, Modern React with Redux, 2020</td>
                    </tr>
                    <tr>
                        <td>Udemy</td>
                        <td><span class="colorise">Certificate</span>, JavaScript Algorithms and Data Structures Masterclass</td>
                    </tr>
                    <tr>
                        <td>Udemy</td>
                        <td><span class="colorise">Certificate</span>, NodeJS, Learn and Understand Node</td>
                    </tr>
                    <tr>
                        <td>Udemy</td>
                        <td><span class="colorise">Certificate</span>, TypeScript, Understanding TypeScript</td>
                    </tr>
                    <tr style="padding: 10px 0; display: block;"></tr>
                    <tr>
                        <td>FreeCodeCamp</td>
                        <td><span class="colorise">Certificate</span>, Full Stack Web Development Certification</td>
                    </tr>
                    <tr>
                        <td>eCollege</td>
                        <td><span class="colorise">Adobe Certified Associate</span>, Visual Communication Using Adobe Photoshop</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="resume">
            <p>Have <i class="darken">something</i> &nbsp;in mind? Let's <i class="darken">Talk</i>.</p>
            <a href="/documents/SeanMurphyDevResume.pdf" download="SeanMurphyDevResume">
                download resume &nbsp; <i class="far fa-file-pdf"></i>  
            </a>
        </div>
    </div>
</div>
